.container{
    text-align: center;
}

.title{
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
    font-size: 3.5rem;
}

.subContainer{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.subItem{
    border: 1px solid black;
    width: 30%;
    margin-bottom: 1rem;
}

.subtitle{
    font-weight: bold;
}