.menu{
    display: flex;
    justify-content: space-around;
    background-color: lightgray;
    margin: 0 auto;
    list-style: none;
    flex-wrap: wrap;
}

nav > li > a{
    text-decoration: none;
}

nav > li{
    flex: 1;
    text-align: center;
}

@media all and (max-width: 600px){
    .menu{
        background-color: red;
    }
}

@media all and (max-width: 400px){
    .menu{
        background-color: pink;
    }
    
    nav > li{
        flex-basis: 100%;
    }
}

