.menu{
    display: flex;
    justify-content: space-around;
    background-color: lightgray;
    margin: 0 auto;
    list-style: none;
    flex-wrap: wrap;
    text-align: center;
}

nav{
    font-size: 1.3rem;
}

/* .dropdown{
    visibility: hidden;
    position: absolute;
    display: none;
    list-style: none;
}

nav li:hover > ul, nav li ul:hover{
    visibility: visible;
    background-color: red;
    width: 160px;
    display: block;
}

ul li ul li{
    clear: both;
    width: 100%;
}

nav > li > a, nav > li > ul > li > a{
    text-decoration: none;
} */

nav > li > a{
    text-decoration: none;
}
nav > li{
    flex: 1;
    text-align: center;
}

/* Media and size design */
@media all and (max-width: 600px){
    .menu{
        background-color: red;
    }
}

@media all and (max-width: 400px){
    .menu{
        background-color: pink;
    }
    
    nav > li{
        flex-basis: 100%;
    }
}

